---
import Base from '@/layouts/Base';

const meta = {
  title: '404 Error!',
  description: 'ページがみつかりませんでした。',
};
---

<Base meta={meta}>
  <h1>404 not found</h1>
  <p>メニューより他ページをご参照ください。</p>
</Base>
