---
import Base from '@/layouts/Base';

const meta = {
  title: 'Privacy Policy',
  description: 'yurilog.のプライバシーポリシーを記載したページです。',
};
---

<Base meta={meta}>
  <h1>Privacy Policy</h1>
  <p>
    yurilog.（以下、「当サイト」）は、ユーザーの個人情報の取扱いについて以下のとおりプライバシーポリシー（以下、「本ポリシー」）を定めます。
  </p>
  <ol>
    <li>
      <h2>個人情報の利用目的</h2>
      <p>
        当サイトでは、名前やメールアドレス等の個人情報を取得させていただく場合がございます。<br />
        取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
      </p>
    </li>
    <li>
      <h2>アクセス解析ツールについて</h2>
      <p>
        当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br />
        このGoogleアナリティクスはトラフィックデータの収集のためにクッキー(Cookie)を使用しております。<br
        />
        トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br />
        以下Google社の利用規約もあわせてご確認ください。
      </p>
      <ul>
        <li>
          <a
            href="https://marketingplatform.google.com/about/analytics/terms/jp/"
            target="_blank"
            rel="nofollow"
          >
            Googleアナリティクス利用規約
          </a>
        </li>
        <li>
          <a href="https://policies.google.com/?hl=ja" target="_blank" rel="nofollow">
            Google ポリシーと規約
          </a>
        </li>
      </ul>
    </li>
    <li>
      <h2>個人情報の安全管理</h2>
      <p>
        当サイトではお客様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
      </p>
    </li>
    <li>
      <h2>個人情報の第三者への開示・提供</h2>
      <p>
        当サイトは次に掲げる場合を除いて、同意を得ることなく第三者に個人情報を提供することはありません。<br
        />
        ただし、個人情報保護法その他の法令で認められる場合を除きます。
      </p>
      <ul>
        <li>法律上照会権限を有する者から書面による正式な協力要請、照会があった場合</li>
        <li>お客様の同意があった場合</li>
      </ul>
    </li>
    <li>
      <h2>免責事項</h2>
      <p>
        当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br
        />
        また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br
        />
        当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
      </p>
    </li>
    <li>
      <h2>著作権について</h2>
      <p>
        当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。<br />
        当サイトは著作権や肖像権の侵害を目的としたものではありません。<br />
        著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。
      </p>
    </li>
    <li>
      <h2>リンクについて</h2>
      <p>
        当サイトは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。<br />
        ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。
      </p>
    </li>
    <li>
      <h2>プライバシーポリシーの変更</h2>
      <p>
        本ポリシーの内容は、法令変更などを受けて、ユーザーに通知することなく随時変更することができるものとします。<br
        />
        変更後のプライバシーポリシーは、本サイトに掲載したときから効力を生じるものとします。
      </p>
    </li>
    <li>
      <h2>個人情報に関するお問い合わせ</h2>
      <p>
        本ポリシー関するお問い合わせは、下記までお願い致します。<br />
        <a href="https://forms.gle/FMtphP4HEKVZvsa48" target="_blank" rel="nofollow">
          お問い合わせフォーム
        </a>
      </p>
    </li>
  </ol>
</Base>

<style>
  h2 {
    border-bottom: 1px solid
      hsla(var(--c-primary-h), var(--c-primary-s), var(--c-light80-l), var(--c-primary-a));
    padding-bottom: 0.1em;
    font-size: 1.125rem;
  }

  h2 + p {
    margin-top: var(--size-space-sm);
  }

  ol,
  ol > li:not(:first-of-type) {
    margin-top: var(--size-space-md);
  }

  ol > li {
    list-style: none;
  }
</style>
