---
const path = Astro.url.pathname.slice(1);
---

<header>
  <div class="inner">
    {
      path ? (
        <div class="logo">
          <a href="/">yurilog.</a>
        </div>
      ) : (
        <h1 class="logo">
          <a href="/">yurilog.</a>
        </h1>
      )
    }
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="https://twitter.com/bnku212">Twitter</a></li>
      </ul>
    </nav>
  </div><!-- /.inner -->
</header>

<style>
  .logo {
    font-weight: bold;
    font-size: 32px;
  }

  ul {
    display: flex;
    gap: var(--size-space-sm);
  }
</style>
