<header>
  <div class="inner">
    <h1>yurilog.</h1>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="https://twitter.com/bnku212">Twitter</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div><!-- /.inner -->
</header>

<style>
  ul {
    display: flex;
    gap: var(--size-space-sm);
  }
</style>
