---
import { getTags } from '@/utils/post';

const { allPosts } = Astro.props;
const tags = getTags(allPosts);
---

<h3>Tag</h3>
<ul>
  {
    tags.map(tag => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: var(--size-space-sm);
  }
</style>
