---
import { getTags } from '@/utils/post';

const { allPosts } = Astro.props;
const tags = getTags(allPosts);
---

<h3>Tag</h3>
<ul>
  {
    tags.map(tag => (
      <li>
        <a href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em var(--size-space-sm);
  }

  ul li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
